^*{
	margin:0px;
	padding:0px;
}

body{
	background-color:#73B3B0;
}

.container{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	border-radius:5px;
	padding:15px;
}
.hr{
	color:#73B3B0;
}