<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["articles/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["articles/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Article Of Title</th>
            <th>Article Of Summary</th>
            <th>Article Of Content</th>
            <th>Publication Of Date</th>
            <th>Created</th>
            <th>Updated</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $article): ?>
            <tr>
                <td><?php echo $article->id ?></td>
            <td><?php echo $article->article_title ?></td>
            <td><?php echo $article->article_summary ?></td>
            <td><?php echo $article->article_content ?></td>
            <td><?php echo $article->publication_date ?></td>
            <td><?php echo $article->created_at ?></td>
            <td><?php echo $article->updated_at ?></td>

                <td><?php echo $this->tag->linkTo(["articles/edit/" . $article->id, "Edit"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("articles/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("articles/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("articles/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("articles/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
