<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="page-header">
    <h1>All articles</h1>
</div>

<?php echo $this->getContent(); ?>


<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Publication Date</th>
                <th>Article Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($articles as $article): ?>
            <tr>
                <td><?php echo $article->publication_date ?></td>
                <td><?php echo $article->article_title ?></td>
                <td><?php echo $this->tag->linkTo(["articles/edit/" . $article->id, "Edit"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="next"><?php echo $this->tag->linkTo(["articles/new", "Create new article"]); ?></div>
</div>
