

{{ content() }}

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Publication Date</th>
                <th>Article Title</th>
                <th>Article Summary</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.publication_date }}</td>
                <td><a href="{{ url(article.id) }}">{{ article.article_title }}</a></td>
                <td>{{ article.article_summary }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>








