<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<h2>
    Login
</h2>


<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "backend/login"
        ]
    );
?>
<div class="form form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">username</label>
        <?php echo $this->tag->textField(["username", "required" => "true"]) ?>
</div>

<div class="form-group">
    <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
        <?php echo $this->tag->passwordField(["password", "required" => "true"]) ?>
</div>

<div class="form-group">
    <div class="col-sm-10">
        <?php echo $this->tag->submitButton(["Login"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>